<div class="container">
  <div class="row">
    <div class="col">

      <h1>Book this flat</h1>

      <div data-controller="price-calculator" data-price-calculator-priceperday-value=<%= @price %>>
        <%= simple_form_for [@flat, @booking]  do |f| %>
        <%= f.input :start_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker", datepicker_date_value: @dates_booking, price_calculator_target: "start", action: "change->price-calculator#update"}} %>
        <%= f.input :end_date,
                    as: :string,
                    input_html: { data: { controller: "datepicker", datepicker_date_value: @dates_booking, price_calculator_target: "end", action: "change->price-calculator#update"}} %>
        <%= f.submit %>
        <% end %>
        <div>
          <p data-price-calculator-target="total" ></p>
        </div>
      </div>
    </div>
  </div>
</div>
